<html>
  <head>
    <meta charset="UTF-8" />
    <title>HungryHub | Hungry? Order Now.</title>
    <link rel="icon" href="/img/HungryHub-Logo.PNG" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Montserrat:ital,wght@1,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/home-style.css" />
    <link rel="stylesheet" href="/css/fail.css" />
  </head>
  <body>
    <section class="payment_fail-section">
      <div class="payment_fail-message">
        <div class="sorry-div">SORRY!</div>
        <div class="failure-message">
          There was an error in processing your payment. If any amount is
          detucted from your account it will be transfered back within 2-3
          working days.
        </div>
        <div class="failure-help">
          For any futher queries, please refer to our help page.
        </div>
        <a class="home-page-link" href="/"
          ><span>&#8592;</span>
          <span lass="home-page-heding">GO TO HOME PAGE</span></a
        >
      </div>
    </section>
    <footer class="footer">
      <div>
        <img src="/img/HungryHub-Logo.PNG" class="footer-logo-img" />
        <div class="footer-logo-text">HungryHub</div>
        <div class="footer-copyright-logo">&copy; by HungryHub</div>
      </div>
    </footer>
  </body>
</html>
