<html>
  <head>
    <meta charset="UTF-8" />
    <title>HungryHub | Hungry? Order Now.</title>
    <link rel="icon" href="/img/HungryHub-Logo.PNG" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Montserrat:ital,wght@1,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/home-style.css" />
    <link rel="stylesheet" href="/css/checkout-style.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="js/checkout.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div>
        <a href="/"
          ><img src="/img/HungryHub-Logo.PNG" class="header-logo-img"
        /></a>
        <div class="header-logo">HungryHub</div>
      </div>
      <h1 class="checkout-heading">
        Checkout Cart <i style="font-size: 40px" class="fa">&#xf07a;</i>
      </h1>
    </header>

    <footer class="footer">
      <div>
        <img src="/img/HungryHub-Logo.PNG" class="footer-logo-img" />
        <div class="footer-logo-text">HungryHub</div>
        <div class="footer-copyright-logo">&copy; by HungryHub</div>
      </div>
    </footer>
  </body>
</html>
