.heading-container {
  text-decoration: none;
}
.heading-text,
.heading-text:visited {
  display: inline;
  font-size: 2rem;
  position: relative;
  bottom: 20px;
  color: #01696e;
}
.content-conatiner {
  display: grid;
  grid-template-areas: "a b";
  min-height: 85%;
}
.side-options-container {
  width: 25vw;
  background-color: #01696e;
  color: aliceblue;
  font-size: 1.4rem;
  text-align: center;
}
.side-options {
  position: relative;
  top: 55px;
}

.partner-onboarding-link,
.legal-link {
  display: block;
  padding-top: 2rem;
  /* padding-left: 2rem; */
  cursor: pointer;
  font-size: 1.6rem;
}
.partner-onboarding-link:hover,
.legal-link:hover {
  font-size: 1.8rem;
  text-decoration: underline solid aliceblue 2px;
}
.profile-section-content-conatiner {
  display: flex;
  flex-direction: column;
}

.profile-setting-heading {
  background-color: #01696e;
  color: aliceblue;
  text-align: center;
  font-size: 2.4rem;
  position: relative;
  left: -5px;
  width: 73vw;
  padding: 1.2rem 0;
}
.text-content-container {
  padding: 2rem;
  font-size: 1.3rem;
}
.question-ans-conatiner {
  margin-bottom: 2.2rem;
}
.down-head-arrow {
  font-size: 2rem;
  position: relative;
  top: -8px;
}
.up-head-arrow {
  font-size: 2rem;
  position: relative;
  top: 12.8px;
}
.question-conatiner:hover {
  color: #01696e;
  cursor: pointer;
}
.ans-conatiner {
  margin-top: 1rem;
  font-size: 1.1rem;
}
.mail-btn {
  text-decoration: none;
  background-color: #01696e;
  color: aliceblue;
  padding: 0.3rem;
  position: relative;
  top: 10px;
}
.mail-btn:hover {
  font-size: 1rem;
}
.loader {
  border: 16px solid gainsboro;
  border-top: 16px solid #01696e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: relative;
  top: 80px;
  left: 45vw;
  z-index: 100;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  transition: all 0.5s;
  z-index: 99;
}
.username-signin-container {
  right: 180px;
}
.hidden {
  display: none;
}
